# Ignore environment variables
.env

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore SQLite database files
*.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore logs
*.log

# Ignore data files
data/raw/
data/processed/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode settings
.vscode/